h1, h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
}

h2 {
    font-size: 2rem;
}

h2, h3 {
    color: $colour-secondary;
}

h3 {
    font-size: 1.3rem;
}

a, p, li {
    font-family: 'Montserrat', sans-serif;
}